.theme-fan .layui-header {
  border-bottom: 1px solid #f6f6f6;
  background-color: #fff;
}

.theme-fan .layui-header .layui-nav .layui-nav-item a {
  color: #666;
}

.theme-fan .layui-header .layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
  color: #333;
}

.theme-fan .layui-logo {
  background-color: #1E9FFF
}

.theme-fan .layui-logo>span {
  color: #fff;
  cursor: default;
}